name: update

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 * * * *"

jobs:
  update:
    name: update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Update README.md
        run: |
          if ./update; then
            git config --local user.name "github-actions"
            git config --local user.email "action@github.com"
            git add README.md
            if [ "$(git log --format=%an HEAD~..HEAD)" = github-actions ]; then
              git commit --amend --no-edit
              git push -f
            else
              git commit -m "update README.md"
              git push
            fi
          fi
        env:
          TOKEN: ${{ secrets.TOKEN }}
